name: slicing_ui3
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=3.0.1 <4.0.0' 

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6 
  lucide_icons_flutter: ^3.1.5 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0 

flutter:
  uses-material-design: true
  assets:
    - assets/ 
    - assets/background1.png
    - assets/banner-2.png
    - assets/banner1.png
    - assets/KAUPAYS.png
    - assets/kereta.jpeg
    - assets/banner3.png
    - assets/stasiun.jpeg
    - assets/abyan.png